@import '~@angular/material/theming';

table {
  width: 100%;
}


h4 {
  margin-top: 0;
  margin-bottom: 5px;
  text-align: center;
}


@mixin grid-theme($theme) {
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $background-color: mat-color($background,card);


  .dynamicgrid {
    @include mat-elevation(2);
    background-color: mat-color($accent);
    border: 1rem solid $background-color;
  }
}

