<div  class = "dynamicgrid">
  <p-table #dt [columns]="cols" [value]="stateList" [lazy]="true" (onLazyLoad)="loadPage($event)"
           [paginator]="true" [rows]="settings.rowsPerPage" [totalRecords]="totalRecords" [responsive]="true"
           [sortField]="settings.defaultSort ? settings.defaultSort.field : 'id'"
           [sortOrder]="settings.defaultSort ? settings.defaultSort.order : -1"
           [showCurrentPageReport]="true"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">

    <ng-template pTemplate="caption" *ngIf="settings.globalFilter" >
      <div class="p-d-flex p-jc-end dynamicgrid">

      <span class="p-input-icon-left">
        <i class="pi pi-search" (click)="loadPageByBatchId()"></i>
        <input placeholder= "BatchId filter..."  [(ngModel)]="batchFilter" type="text" pInputText size="50">
      </span>

      </div>
    </ng-template>


    <ng-template pTemplate="header" let-columns>
      <div class = "dynamicgrid">
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field" [pSortableColumnDisabled]="col.sortable===false">
            {{col.header}}
            <p-sortIcon  *ngIf="col.sortable" [field]="col.field"></p-sortIcon>
          </th>

        </tr>
        <tr>
          <th *ngFor="let col of columns">
            <input  (input)="lazyLoadFilterData($event, col.field)"  *ngIf="col.searchable && col.type==='string'" pInputText type="text">
            <input  (input)="lazyLoadFilterData($event, col.field)" *ngIf="col.searchable && col.type==='number'" pInputText type="number">

        </tr>
      </div>
    </ng-template>

    <ng-template pTemplate="body" let-state let-columns="columns">
      <div class = "dynamicgrid">
        <tr>
          <td *ngFor="let col of columns">
            {{state[col.field]}}
          </td>
        </tr>
      </div>
    </ng-template>
    <!--ng-template pTemplate="body" let-state let-columns="columns">
        <tr>
          <td *ngFor="let col of columns"><div class = "dynamicgrid"> {{state[col.field]}}</div>

          </td>
        </tr>

    </ng-template-->

  </p-table>
</div>


